@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300&family=Poppins&family=Roboto:wght@100;300&display=swap');

*{
padding: 0%;
margin: 0;
box-sizing: border-box;
}

.bg-red{
background: #FFDBA4;
height: 64px;
}

/* h-16 px-8 flex items-center*/
.title_navbar{
height: 50px;
display: flex;
align-items: center;
color: #2B4865;
padding-left: 16px;
font-family: 'Fira Sans', sans-serif;
font-weight: bold;
}