@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300&family=Poppins&family=Roboto:wght@100;300&display=swap');

*{
padding: 0%;
margin: 0;
box-sizing: border-box;
}

.bg-red{
background: #FFDBA4;
height: 64px;
}

/* h-16 px-8 flex items-center*/
.title_navbar{
height: 50px;
display: flex;
align-items: center;
color: #2B4865;
padding-left: 16px;
font-family: 'Fira Sans', sans-serif;
font-weight: bold;
font-size: 20px;
}

.container_employee{
display: flex;
max-width: 42rem;
box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
border-bottom: 5px;
margin: auto;
margin-top: 15px;;
}

.title_employee{
font-weight: normal;
font-size: 12px;
font-family: 'Fira Sans', sans-serif;
}

.employee{
  padding: 20px;
}

.label_name{
align-items: center;
justify-content: center;
height: 18px;
width: 100%;
margin-top: 15px;
display: inline-block;
}

.input_field{
  height: 30px;
  width: 30rem;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 5px;

}